@model DHSCRM.ViewModels.JobDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.JobName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.JobName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.JobDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.JobDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.PostcodeFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.PostcodeFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.PostcodeTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.PostcodeTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.TotalMiles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.TotalMiles)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Customers" asp-action="Details" asp-route-id="@Model.Customer.CustomerId">@Html.DisplayFor(model => model.Customer.CustomerName)</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Job.JobId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
